# --- KiCad 10 Project Files ---
*.bak
*.kicad_pcb-bak
*.kicad_sch-bak
*.fp-lib-table.bak
*.sym-lib-table.bak
*.cadstar
*.legacy_pcb
*.legacy_sch
.history

# --- Local User Settings ---
fp-info-cache
*.lck
kicad-pce-settings.json
workspace.json
*.user

# --- Manufacturing & Output ---
_autosave-*
*.gbr
*.drl
*.rpt
*.txt
*.csv
/plots/
/gerbers/
/bom/
*.kicad_prl
*-backups/
bom/
production/
fabrication-toolkit-options.json

GammaSpectrometer-*.pdf